@CHARSET "UTF-8";
.lione{
		margin-left: 130px;
		}
		#login{
		display:block;
		position:fixed; 
		top: 10px;
		right: 200px;
		}
		
		
		.input-group.input-group-lg{
		display: inline-block;
		margin-top: 60px;
		}
		
		.bs-example.bs-example-form{
		position: absolute;
		top:40px;
		left:200px;
		
		}
		
		#date1{
		display:inline-block;
		position: absolute;
		top:108px;
		left: 450px;
		font:normal 18px "微软雅黑" ;
		}
		
		#date2{
		display:inline-block;
		position: absolute;
		top:108px;
		right: 460px; 
		font:normal 18px "微软雅黑" ;
		} 
		  
		#tj{
		display: inline-block;
		position: absolute; 
		top:63px;
		right:-133px; 
		width: 100px; 
		height: 40px;   
		} 
		
		
.am_footer { background: #222324; width: 100%;padding: 35px 0 0 0;}
.am_footer_con { max-width: 1500px; text-align: center; margin: 0 auto; overflow: hidden; padding: 0 10px 40px;-webkit-box-sizing: border-box;box-sizing: border-box;}
.am_footer_link { overflow: hidden;  display: inline-block; vertical-align: top; margin-right: 80px;}
.am_footer_link span , .am_footer_don span{ text-align:left;  font-size: 17px; color: #d3d3d3; padding-bottom: 10px; display: block; }
.am_footer_link  li { display: inline-block;}
.am_footer_link  li a{color: #d3d3d3; font-size: 14px; margin-right: 15px;}
.am_footer_link  li a:hover {  color: #ff5656;}
.am_footer_don { display: inline-block; max-width: 400px; vertical-align: top; }
.am_footer_don dt { position: relative; float: left; width: 38px; height: 38px;}
.am_footer_don dd {position: relative; font-size: 12px; color: #787878; padding: 0; margin: 0;  margin-left: 45px; float:none;padding-bottom: 35px; text-align: left;}
.am_footer_don dt img {width: 38px; height: 38px;}
.am_footer_don .footdon_az { position: absolute; bottom:0; right: 0; display: block;  border:1px solid #797979; color: #797979; border-radius: 10px; width: 85px; line-height: 18px; height: 21px;}
.am_footer_don .footdon_pg { position: absolute; bottom:0; right: 100px; display: block;  border:1px solid #797979; color: #797979; border-radius: 10px; width: 85px; height: 21px; line-height: 18px;}
.am_footer_don .footdon_pg:hover { border: 1px solid #ff5656; color: #ff5656;}
.am_footer_don .footdon_az:hover { border: 1px solid #54d669 ; color: #54d669 ;}
.foot_d_pg { width: 100%; text-align: center;}
.foot_d_az { width: 100%; text-align: center; }
.am_footer_erweima { max-width: 450px; display: inline-block;padding-left:100px;}
.am_footer_weixin { text-align: center; float: left; margin-right: 50px;}
.am_footer_weixin img {width: 82px; height: 82px; margin-bottom: 7px; display: block;}
.am_footer_ddon {text-align: center;   float: left;}
.am_footer_ddon img {width: 82px; height: 82px; margin-bottom: 7px; display: block;}
.am_footer_d_gzwx {font-size: 12px;  color: #54d669; border-radius: 10px; width: 85px; height: 21px; line-height: 18px;text-indent: 3px;text-align: left;}
.am_footer_d_dxz {font-size: 12px;  color: #797979; border-radius: 10px; width: 85px; height: 21px; line-height: 18px;text-indent: 3px;text-align: left;}